{% extends 'base.html.twig' %}

{% block title %}Create a trick{% endblock %}

{% block body %}
<div class="container mt-4 vh-100">
    <div class="row">
        {% if error|default(null) %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container mt-4 vh-100">
    <div class="row">
        <div class="col-md-8 shadow mt-4 mx-auto p-4">
            {{ form_start(form) }}
                <h1 class="h3 mb-3 font-weight-normal">Create a new trick</h1>
                <div class="form-floating mb-3">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.name) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.category, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.category) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.content, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_label(form.content) }}
                </div>
                <div class="mb-3 form-control-file">
                    {{ form_label(form.medias) }}
                    {{ form_widget(form.medias, { 'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-outline-primary">Créer mon compte</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
    </div>
</div>
{% endblock %}